@charset "utf-8";
:root {
  --main-color1: #000;
  --main-color2: #fff;
}

/* reset code */
* {
  margin: 0;
  padding: 0;
}
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--main-color2);
  cursor: pointer;
}
button {
  cursor: pointer;
}
.clear::after {
  content: '';
  display: block;
  clear: both;
}
body {
  background-color: var(--main-color2);
}

/* warp */
#wrap {
  max-width: 1280px;
  margin: 0 auto;
}

/* header 영역 */
header {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
header h1 {
  text-align: center;
  padding: 5% 0;
}
.ham1 {
  padding: 5% 13% 5% 3%;
}
.ham2 {
  display: none;
}
.hamBtn {
  border: none;
  background-color: var(--main-color2);
}
.hamBtn span {
  width: 25px;
  height: 3px;
  background-color: var(--main-color1);
  margin: 2px 0;
  display: block;
}
.close {
  color: var(--main-color2);
  display: none;
  font-size: 12px;
  border: 1px solid var(--main-color2);
  padding: 5px;
}
.close:hover {
  background-color: var(--main-color2);
  border: 1px solid var(--main-color1);
  color: var(--main-color1);
  cursor: pointer;
}
.topSubmenu {
  width: 150px;
  padding: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topSubmenu ul {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
.topSubmenu li {
  text-align: center;
  width: 35px;
}
.topSubmenu li .subTxt {
  font-size: 50%;
  font-weight: bold;
  color: var(--main-color1);
}
.line {
  display: none;
}
.iconBox {
  display: block;
  height: 35px;
  border: 1px solid #333;
  box-sizing: border-box;
  border-radius: 50%;
  margin: 15% auto;
  background-color: var(--main-color1);
}
.iconBox i {
  text-align: center;
  line-height: 34px;
  font-size: 22px;
  color: var(--main-color2);
}
.inner {
  width: 100%;
  background-color: var(--main-color1);
}
.topMainmenu {
  position: relative;
}
.topMainmenu > ul {
  display: flex;
  max-width: 60%;
  height: 60px;
  margin: 0 auto;
  justify-content: space-between;
}
.topMainmenu > ul > li {
  flex: 1 1 auto;
  line-height: 63px;
  position: relative;
}
.topMainmenu ul > li a {
  color: var(--main-color2);
}

.subList {
  z-index: 999;
  position: absolute;
  top: 60px;
  left: 0;
  width: 200%;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  transition: 1s;
  opacity: 0;
}
.subList > li {
  font-size: 12px;
  height: 30px;
  line-height: 33px;
}
.topMainmenu > ul > li.on > .subList {
  height: 250px;
  opacity: 1;
}
.subList > li a {
  color: var(--main-color2);
}
.bg {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #333;
  z-index: 50;
  transition: 1s;
}
.bg.on {
  height: 250px;
}

.search {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 15%;
  display: flex;
  justify-content: center;
}
.search input {
  width: 120px;
}
.search input:focus {
  outline: none;
}
.search span {
  color: var(--main-color2);
  padding-left: 5%;
  font-size: 18px;
}

/* slider 영역 */
.sliderBox {
  margin-bottom: 10%;
  border-bottom: 2px solid var(--main-color1);
  box-sizing: border-box;
}
.slider {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.sliderBox .imgBox {
  width: 300%;
  display: flex;
  flex-flow: row wrap;
}
.imgBox img {
  width: 100%;
}
.imgBox li {
  width: 33.3333%;
}
.imgBox li a {
  display: block;
  width: 100%;
  height: 100%;
}
.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.caption > p {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 5% 0;
}

/* content 영역 */
#content h2::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 10px;
  background-color: var(--main-color1);
}
.topLine {
  position: relative;
}
.topLine > h2 {
  text-align: center;
  padding: 5% 0 4% 0px;
}
.more {
  position: absolute;
  right: 50px;
  bottom: 0;
  font-weight: bold;
}
.brandBox {
  margin-bottom: 10%;
}
.brandBox ul {
  padding: 2% 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.brandBox ul li {
  width: 23%;
  height: 250px;
  margin-bottom: 2%;
}
.box {
  background-color: var(--main-color1);
}
.box a {
  width: 100%;
  display: block;
  height: 100%;
  overflow: hidden;
}
.box a img {
  width: 100%;
}

.brandBox ul li p {
  text-align: center;
  font-weight: bold;
  padding: 5% 0;
  box-sizing: border-box;
}
.magazineBox ul {
  padding: 2% 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.magazineBox ul li {
  width: 44%;
  height: 360px;
  margin-bottom: 2%;
}
.box2 {
  background-color: var(--main-color1);
}
.box2 a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.box2 a img {
  width: 100%;
}
.magazineBox ul li p {
  text-align: center;
  font-weight: bold;
  padding: 3% 0;
}

/* footer 영역 */
footer {
  height: 70px;
}
footer p {
  text-align: center;
  line-height: 70px;
  color: var(--main-color2);
}

@media screen and (max-width: 860px) {
  #wrap {
    width: 100%;
  }
  .ham1 {
    display: block;
  }
  header {
    display: block;
    background-color: var(--main-color1);
    position: relative;
  }
  header h1 {
    color: var(--main-color2);
  }
  .ham1 {
    position: absolute;
    top: 8px;
    left: 10px;
  }
  .hamBtn {
    background-color: var(--main-color1);
  }
  .hamBtn span {
    background-color: var(--main-color2);
  }
  .topSubmenu {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 0 0 20px 0;
  }
  .line {
    display: block;
  }
  .topSubmenu > ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 57%;
    border-top: 1px solid var(--main-color2);
    border-bottom: 1px solid var(--main-color2);
    height: 30px;
    box-sizing: border-box;
  }
  .topSubmenu li {
    width: 30%;
    line-height: 30px;
    text-align: center;
    box-sizing: border-box;
    color: var(--main-color2);
  }
  .topSubmenu li:nth-child(2n) {
    width: 3px;
  }
  .topSubmenu li .subTxt {
    font-size: 14px;
    color: var(--main-color2);
  }
  .iconBox {
    display: none;
  }
  .close {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
  }
  .topMainmenu {
    height: auto;
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100%;
    background-color: var(--main-color1);
    z-index: 999;
    transition: 1s;
  }
  .topMainmenu.on {
    left: 0;
  }
  .topMainmenu > ul {
    height: auto;
    margin: 0 20px;
  }
  .topMainmenu > ul {
    display: block;
  }
  .topMainmenu > li {
    height: 40px;
    margin: 30px 0;
  }
  .subList {
    position: unset;
    width: 100%;
    height: 100%;
    display: none;
    overflow: visible;
  }
  .subList > li {
    width: 170px;
    font-size: 12px;
    height: 30px;
    line-height: 33px;
  }
  .subList > li a {
    width: 100%;
    display: block;
  }
  .bg {
    display: none;
  }
  .search {
    position: unset;
    width: 170px;
    margin: 0 0 0 12px;
  }
  .search input {
    width: 120px;
  }
  .imgBox li img {
    width: 100%;
  }
  .brandBox ul li {
    width: 46%;
    height: 100%;
  }
  .more {
    position: unset;
    text-align: right;
    margin: 0 3%;
  }

  .magazineBox ul li {
    height: 100%;
  }
}

@media screen and (max-width: 520px) {
  header h1 {
    width: 60%;
    margin: 0 auto;
  }
  .brandBox ul li {
    float: none;
    width: 100%;
    height: 100%;
  }
  .brandBox ul li p {
    background-color: var(--main-color1);
    color: var(--main-color2);
  }
  .magazineBox ul li {
    float: none;
    width: 100%;
    height: 100%;
  }
  .magazineBox ul li p {
    background-color: var(--main-color1);
    color: var(--main-color2);
  }
}
