@charset "utf-8";

/* reset code */
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
button {
  cursor: pointer;
}
.clear::after {
  content: '';
  display: block;
  clear: both;
}

/* header 영역 */
header {
  position: relative;
  height: 140px;
}
header h1 {
  text-align: center;
  padding: 30px 0;
}
.ham1 {
  position: absolute;
  top: 35px;
  left: 10px;
}
.ham2 {
  display: none;
}
.hamBtn {
  border: none;
  background-color: #fff;
}
.hamBtn span {
  width: 18px;
  height: 3px;
  background-color: #000;
  margin: 2px 0;
  display: block;
}
.iconBox {
  width: 35px;
  height: 35px;
  border: 1px solid #333;
  border-radius: 50%;
  margin: 5px auto;
}
.topSubmenu {
  position: absolute;
  top: 20px;
  right: 10px;
}
.topSubmenu li {
  float: left;
  margin: 0 5px;
}
.topSubmenu li a {
  font-size: 15px;
}
.topMainmenu {
  float: left;
  width: 100%;
  background-color: #000;
  position: relative;
  height: 40px;
}
.topMainmenu > ul {
  width: 720px;
  height: 40px;
  margin: 0 auto;
}
.topMainmenu li {
  float: left;
  margin: 0 21px;
  line-height: 43px;
}
.topMainmenu li a {
  color: #fff;
}
.search {
  position: absolute;
  right: 20px;
  top: 9px;
}
.search input:focus {
  outline: none;
}
.search span {
  color: #fff;
  margin: 0 20px;
  font-size: 18px;
}

/* slider 영역 */
.sliderBox {
  background-color: #ccc;
  margin-bottom: 50px;
}
.slider {
  width: 800px;
  height: 500px;
  margin: 0 auto;
  border: 1px solid #333;
  box-sizing: border-box;
  position: relative;
  background-color: #fff;
  overflow: hidden;
}
.sliderBox .imgBox {
  width: 2400px;
}
.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.caption > p {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
}
.imgBox li {
  float: left;
  width: 800px;
}
.imgBox li img {
  width: 100%;
}

/* content 영역 */
.topLine {
  position: relative;
}
.topLine > h2 {
  text-align: center;
  padding: 40px 0;
}
.more {
  position: absolute;
  right: 50px;
  bottom: 0;
  font-weight: bold;
}
.brandBox {
  padding-bottom: 50px;
}
.brandBox ul {
  padding: 10px 0;
}
.brandBox ul li {
  float: left;
  width: 24%;
  height: 250px;
  margin: 0 6px;
}
.brandBox .box {
  height: 230px;
  background-color: dimgrey;
}
.brandBox ul li p {
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
}
.magazineBox ul {
  padding: 10px 0;
}
.magazineBox ul li {
  float: left;
  width: 45%;
  height: 360px;
  margin: 0 34px;
}
.box2 {
  height: 320px;
  background-color: dimgrey;
}
.magazineBox ul li p {
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
}

/* footer 영역 */
